.body{
    display: flex;
    flex-direction: row;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.classButton{
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.calendar{
    margin-top: 45px;
    margin-left: 25vw;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 20px;
    height: 100vh;
    width: 72vw;
    position: fixed;
    left: 0;
    overflow-y: scroll;
}


.classSidebar{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 25vw;
    height:90vh;
    background: #c5cae9;
    position: fixed;
    left: 0;
    z-index: -1;
    overflow-y: scroll;
}


#selected-class-style-wrapper{
    /* other styles goes here... */
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

#selected-class-style-bottom{
    margin-bottom: 0px;
}

.removeButton{
    float: right;
}

#selected-shift{
    position: absolute;
    top: 100px;
    width: 310px;
    opacity: 1;
    transition: 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#selected-shift.invisible{
    opacity: 0;
}

#Description{
    font-weight: 500;
}

.grutoringList{
    background: #3f51b5;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    transition: 1s ease-in;
    border-radius: 4px;
}

.classList{
    margin-top: 20px;
    padding-top:10px;
    background: #3f51b5;
    margin-bottom: 13px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 4px;
}

#sidebarLists{
    position: absolute;
    top: 80px;
    display: inline-block;
    transform: translateY(0px);
    transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
/* want bothlists to transition down to 360px*/
#sidebarLists.slideDown {
    transform: translateY(280px)
}

#sidebarLists.default {
    transform: translateY(0px)
}

#selected-shift-grutors{
    margin-top:10px;
    margin-bottom:0px;
}

.classPopUp{
    margin: 0 auto;
}

.classCards{
    margin-bottom: 10px;
    font-size: 16px;
}
.class-popup-inner{
    border-radius: 4px;
}

.classLabel{
    font-size:17px;
    margin-right: 30px;
    font-weight: 400;
}

Button.classes-state-root{
    min-height: 30px;
    font-size: 0.8rem;
}

div.classCards .classes-state-root {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right:15px;
}

div.classCards .card-state-root {
    background-color: rgb(255, 255, 255);
    width: 325px;
    flex-direction: row;
}

#selected-shift .ss-state-root{
    width: 345px;
}

#sidebarLists .font-state-root{
    color: white;
    margin-bottom: 10px;
}


Button.addClass-state-root {
    color: #fff;
    /* background-color: #3f51b5; */
    width:345px;
}
