/* Navbar CSS is adapted from Evie template: https://demos.onepagelove.com/html/evie/ */

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 45px;
    width: 100%;
    background-color: #002984;
    transition: 0.7s;
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  color: #fff;
  transition: 0.7s;
  margin: auto 12px auto 12px;
}

.navbar__logo {
  font-size: 1.225rem;
  transition: 0;
  color: #fff;
  text-decoration: none; }
